<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.luke.trener">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Logowanie"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AtlasCwiczen" />
        <activity android:name=".BMI" />
        <activity android:name=".Dziennik" />
        <activity android:name=".Dieta" />
        <activity android:name=".MainActivity" />
        <activity android:name=".oNas" />
        <activity android:name=".Barki" />
        <activity android:name=".Biceps" />
        <activity android:name=".KlatkaPiersiowa" />
        <activity android:name=".Nogi" />
        <activity android:name=".Przedramiona" />
        <activity android:name=".Triceps" />
        <activity android:name=".Plecy" />
        <activity android:name=".Brzuch" />
        <activity android:name=".Logowanie1" />
        <activity android:name=".PlanTreningowy" />
        <activity android:name=".ListaTreningow" />
        <activity android:name=".GotowyPlanTreningowy" />
        <activity android:name=".GotowaDieta"></activity>
    </application>

</manifest>